.App {
	padding: 50px 0 50px;

	text-align: center;
	background: #bdc3c7; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#2c3e50,
		#bdc3c7
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2c3e50,
		#bdc3c7
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page-title {
	font-size: 40px;
	border: 2px solid antiquewhite;
	border-style: dotted;
	margin-bottom: 30px;
	color: white;
	max-width: fit-content;
	margin: 0 auto 30px;
	padding: 10px 20px;
}
